.navbar-text{
  display: flex;
  color: #55ba33;
  font-size: 65px;
  margin: auto;
}

.navbar-brand{
  display: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // background: url('../static/final.jpeg') no-repeat;   
  background-size: contain;
  width: 100px;
  height: 100px;
  margin-right: 0px;
  margin-top: 25px;     
}